.ps-banner {
  background-color: #f6f6f6;
  padding: 20px; }
  .ps-banner li {
    padding: 5px; }

.block-image01 {
  position: relative;
  height: auto;
  overflow: hidden;
  background-image: url("../img/top/bk_09.jpg");
  background-size: cover;
  background-position: 70% top; }
  .block-image01:before {
    content: "";
    display: block;
    padding-top: 26.66667%; }

.block-image02 {
  position: relative;
  height: auto;
  overflow: hidden; }
  .block-image02:before {
    content: "";
    display: block;
    padding-top: 26.66667%; }

.blocks__item .item__full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: 0;
  overflow: hidden; }

.blocks__item .item__upper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  margin-left: 0;
  overflow: hidden; }

.blocks__item .item__lower {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-left: 0;
  height: 50%;
  overflow: hidden;
  padding: 6% 3%;
  background-color: rgba(255, 255, 255, 0.8); }

.blocks__item .item_title {
  background-color: #00b3ee;
  color: #fff;
  padding: 0.125rem 0.625rem;
  display: inline-block;
  font-weight: normal;
  font-size: 0.875rem;
  margin-bottom: 0.875rem; }

.blocks__item .item_summary {
  font-weight: bold;
  font-size: 1rem; }

.restaurant .item_title {
  background-color: #edad80; }

.relaxation .item_title {
  background-color: #bfb3da; }

.shop .item_title {
  background-color: #539adb; }

.pickup {
  text-align: center;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem; }

.img-pickup {
  width: 100px; }

#full-screen {
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-attachment: scroll; }

#manza__slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  border: none;
  padding: 0;
  margin: 0;
  height: auto !important; }

#main-bgimage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  border: none;
  padding: 0;
  margin: 0;
  background-image: url("../img/top/movie/static.jpg");
  background-size: cover;
  background-position: 50% 50%; }

#bg-pattern {
  background-repeat: repeat;
  background-attachment: scroll;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../img/top/movie/pattern.png");
  display: none;
  z-index: 1000000; }

#manza__logo {
  position: absolute;
  left: 25px;
  top: 30px;
  z-index: 1000; }

#manza__box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 480px;
  height: 340px;
  z-index: 100;
  text-align: center; }

#manza__time {
  width: 220px;
  margin-left: -110px;
  top: 12%;
  position: absolute;
  left: 50%;
  display: none; }

#manza__special {
  width: 288px;
  margin-left: -144px;
  position: absolute;
  left: 50%;
  top: 190px;
  display: none; }

#down_scroll {
  position: absolute;
  left: 50%;
  bottom: 20px;
  width: 83px;
  margin-left: -41.5px;
  cursor: pointer;
  z-index: 1000; }

#manza__play {
  cursor: pointer;
  background-image: url("../img/top/movie/btn_movie_play.png");
  background-position: left top;
  background-repeat: no-repeat;
  width: 166px;
  height: 39px;
  margin: 0 auto;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  position: absolute;
  left: 50%;
  top: 270px;
  margin-left: -83px;
  display: none; }

#movie {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }

#movie iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }

.remodal-overlay {
  background: rgba(255, 255, 255, 0.95) !important; }

.remodal {
  padding: 0 !important;
  width: 90%;
  max-width: 1000px; }

.remodal-wrapper {
  padding: 0 !important; }

.remodal-close-img {
  position: absolute;
  right: 0;
  top: -65px;
  cursor: pointer; }

#official-warp {
  padding-top: 47.02381%;
  background-image: url("../img/top/footer_bg_sns_sup.jpg");
  background-position: 80% 20%;
  background-repeat: no-repeat;
  position: relative; }

#official-sns {
  background: none;
  background-color: rgba(254, 240, 215, 0.4);
  position: absolute;
  left: 0;
  bottom: 0; }

footer {
  margin-top: 0; }

#top-recommend {
  padding: 0 20px; }

.item__movie {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden; }

.item__movie.vegas-container {
  position: absolute !important;
  height: auto !important; }

@media (max-width: 768px) {
  #contents {
    margin-top: 0; }
  #manza__box {
    width: 310px; } }

@media (max-width: 543px) {
  .blocks__item:before {
    padding-top: 117.37089%; }
  .blocks__item-2x:before {
    padding-top: 58.68545%; }
  .block-image01:before {
    padding-top: 33.59375%; }
  .blocks.half .blocks__item, .blocks.half .blocks__item-2x {
    width: 50%; }
  .blocks.half .blocks__item:before, .blocks.half .blocks__item-2x:before {
    padding-top: 133.125%; }
  .blocks__item .item__lower {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: 0;
    height: 100%;
    overflow: hidden;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.4); }
    .blocks__item .item__lower p {
      position: absolute;
      top: 0;
      left: 0;
      width: 90%;
      height: auto;
      color: #fff;
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 14px; }
  .blocks__item .item_title {
    color: #fff;
    padding: 0.0625rem 0.625rem;
    display: inline-block;
    font-weight: normal;
    font-size: 0.875rem;
    margin: 15px; }
  #official-warp {
    background-size: cover;
    padding-top: 70%; }
  #manza__special {
    width: 230px;
    margin-left: -115px;
    position: absolute;
    left: 50%;
    top: 190px;
    display: none; } }

/*top page update 2015.12.22*/
/*==========================
TOP PAGE BANNER CONTAINER
===========================*/
#bannner-container {
  width: 100%; }

#bannner-container .pickup {
  width: 100%;
  padding-top: 1.875rem;
  padding-bottom: 0;
  text-align: center; }

/*==========================
TOP PAGE BANNER SLIDER
===========================*/
#bannner-container #topbanner {
  width: 100%;
  margin: 0 auto 0;
  padding: 0 30px; }

#bannner-container #topbanner #owl-banner .ban {
  padding: 20px 0;
  margin: 9px; }

#bannner-container #topbanner #owl-banner .ban img {
  display: block;
  width: 100%;
  height: auto; }

/*==========================
TOP PAGE BANNER LINKS
===========================*/
#bannner-container .link-banners {
  width: 100%;
  /*1680*/
  padding: 1.875rem 1.488095238%;
  /*30,25*/
  background: #eaeaea; }

#bannner-container .link-banners ul {
  width: 100%;
  /*1630*/
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto 0; }

#bannner-container .link-banners ul li {
  float: left;
  text-align: center; }

#bannner-container .link-banners ul li a {
  display: block;
  width: 100%; }

#bannner-container .link-banners ul li.ban {
  width: 22.62993865%;
  /*370*/ }

#bannner-container .link-banners ul li.info {
  width: 25.46012269%;
  /*415*/
  margin-left: 3.374233128%;
  /*55*/
  text-align: right; }

#bannner-container .link-banners ul li.info span:first-child {
  width: 67.46987951%;
  /*280*/
  padding-top: 5%;
  display: block;
  float: left; }

#bannner-container .link-banners ul li.info span:first-child + span {
  width: 26.50602409%;
  /*110*/
  display: block;
  margin-left: 6.024096385%;
  float: left; }

#bannner-container .link-banners ul li img {
  width: 100%; }

#bannner-container .link-banners ul li.ml {
  margin-left: 1.533742331%;
  /*25*/ }

/*==========================
TOP INFORMATION NEWS
==========================*/
.top-information {
  width: 100%;
  /*940*/
  display: table;
  font-size: 0.875rem;
  /*14*/
  padding-left: 6.5625rem;
  /*105*/
  padding-top: 2.5rem;
  /*40*/
  padding-right: 2.5rem;
  /*40*/
  padding-bottom: 2.5rem;
  /*40*/ }

.top-information .title {
  width: 12.890625%;
  /*165*/
  display: table-cell;
  vertical-align: top;
  padding-top: 10px; }

.top-information .title span {
  display: block; }

.top-information .title span:first-child {
  margin-bottom: 0.625rem;
  /*10*/ }

.top-information .title span img {
  width: 100%;
  max-width: 165px; }

.top-information .info_list {
  width: 87.109375%;
  display: table-cell;
  vertical-align: top;
  padding-left: 3.75rem;
  /*60*/ }

.top-information .info_list {
  padding-top: 0.5rem;
  /* 8px */
  overflow: hidden;
  width: 100%; }

.top-information .info_list a,
.top-information .info_list > div {
  color: #645f5c;
  display: block;
  width: 100%;
  margin-bottom: 1rem; }

.top-information .info_list > *:last-child {
  margin-bottom: 0; }

.top-information .info_list dl {
  width: 100%; }

.top-information .info_list dl dt,
.top-information .info_list dl dd {
  float: left; }

.top-information .info_list dl dt {
  width: 29.5%;
  margin-right: 0.5%;
  font-weight: normal; }

.top-information .info_list dl dd {
  width: 69%;
  padding: 0.125rem 0 0 1%; }

.top-information .info_list *:last-child,
.top-information .info_list *:last-child dl dd {
  margin-bottom: 0; }

.top-information .info_list_data,
.top-information .info_list_label {
  display: inline-block; }

.top-information .info_list_data {
  width: 35%; }

.top-information .info_list_label {
  width: 65%;
  text-align: center;
  border: 1px solid #ccc; }

.top-information a:hover {
  text-decoration: none; }

.top-information p.more {
  margin-bottom: 0;
  margin-top: 20px;
  text-align: right; }

.top-information p.more a {
  background-image: url(../img/information/arrow.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 8px auto;
  padding-right: 16px;
  text-decoration: none;
  color: #645f5c; }

/*==========================
TOP STAY RECOMMEND
==========================*/
.block--01:before {
  padding-top: 15%; }

.rd-contents {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto 5rem;
  /*80*/ }

.rd-contents h2 {
  width: 100%;
  text-align: left;
  padding-left: 0.8%; }

.rd-contents h2 img {
  width: 100%;
  max-width: 310px; }

.rd-contents #top-recommend {
  width: 100%;
  text-align: left; }

.rd-contents #top-recommend .owl-prev,
.rd-contents #top-recommend .owl-next {
  top: 32%; }

.rd-contents #top-recommend .box {
  padding: 0.9375rem;
  /*15*/
  margin: 2.5%;
  /*9*/
  background-color: rgba(255, 255, 255, 0.85); }

.rd-contents #top-recommend .box a {
  width: 100%;
  display: block;
  height: auto;
  text-decoration: none;
  color: #645f5c; }

.rd-contents #top-recommend .box p {
  font-size: 0.875rem;
  /*14*/
  margin-bottom: 0;
  padding-top: 1.25rem;
  /*20*/ }

.rd-contents #top-recommend .box img {
  display: block;
  width: 100%;
  height: auto; }

/*================
Responsive
=================*/
@media (max-width: 1450px) {
  .top-information {
    padding-left: 2.5rem;
    /*50*/ }
  .top-information .info_list a,
  .top-information .info_list > div {
    margin-bottom: 1.25rem;
    /*20*/ }
  .top-information .info_list dl dt,
  .top-information .info_list dl dd {
    float: none; }
  .top-information .info_list dl dt {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.625rem;
    /*10*/ }
  .top-information .info_list dl dd {
    width: 100%;
    padding: 0;
    margin-bottom: 0; }
  .top-information .info_list_data,
  .top-information .info_list_label {
    display: inline; }
  .top-information .info_list_data {
    padding-right: 1.25rem;
    /*20*/ }
  .top-information .info_list_label {
    padding: 0 1.25rem;
    /*20*/ }
  .top-information .title {
    width: 25%; }
  .top-information .title img {
    max-width: 190px; }
  .top-information .info_list {
    width: 75%;
    padding-left: 3.75rem; }
  .rd-contents h2 {
    text-align: center;
    padding-left: 0; } }

@media (max-width: 1100px) {
  #bannner-container .link-banners {
    width: 100%;
    /*1680*/
    padding-bottom: 0.625rem;
    /*10*/ }
  #bannner-container .link-banners ul li {
    margin-bottom: 1.25rem;
    /*20*/ }
  #bannner-container .link-banners ul li.ban {
    width: 49%; }
  #bannner-container .link-banners ul li.ban:first-child {
    margin-right: 2%; }
  #bannner-container .link-banners ul li.info {
    width: 49%;
    margin-left: 2%; }
  #bannner-container .link-banners ul li.ml {
    margin-left: 0; } }

@media (max-width: 991px) {
  .top-information .title {
    width: 100%;
    display: block; }
  .top-information .title span {
    display: inline-block; }
  .top-information .title span:first-child {
    padding-right: 0.625rem;
    /*10*/ }
  .top-information .info_list {
    width: 100%;
    display: block;
    padding-left: 0; } }

@media (max-width: 980px) {
  .top-information .info_list a,
  .top-information .info_list > div {
    padding: 0; }
  .top-information .info_list a:hover {
    text-decoration: none; }
  .top-information .info_list > *:nth-child(odd) {
    background: #fff; }
  .top-information {
    padding: 1.5625rem; } }

@media (max-width: 768px) {
  .top-information .title img {
    max-width: 140px; } }

@media (max-width: 640px) {
  #bannner-container .link-banners {
    padding: 2.5rem 10.9375%;
    /*40,70*/ }
  #bannner-container .link-banners ul li {
    float: none; }
  #bannner-container .link-banners ul li:last-child {
    margin-bottom: 0; }
  #bannner-container .link-banners ul li.ban {
    width: 100%; }
  #bannner-container .link-banners ul li.info {
    width: 100%;
    margin-left: 0; }
  #bannner-container .link-banners ul li.ml {
    margin-left: 0; } }

@media (max-width: 543px) {
  .top-information .info_list dl dt,
  .top-information .info_list dl dd {
    float: none;
    width: 100%;
    padding: 0; } }

/*==========================
stay_recommend
==========================*/
#bannner-container a:hover {
  opacity: 0.4; }

/*---------------------------------------------update*/
.rd-contents #top-recommend .box a span.stay_recommend {
  width: auto;
  display: block;
  height: 180px;
  background-position: 0 0; }

.rd-contents #top-recommend .box a p {
  height: 100px;
  overflow: hidden; }

/*===================================================
Responsive
=================*/
@media (max-width: 1041px) {
  .rd-contents #top-recommend .box a span.stay_recommend {
    height: 250px; } }

@media (max-width: 657px) {
  .rd-contents #top-recommend .box a span.stay_recommend {
    height: 350px; } }

.blocks__square {
  width: 33.333333%;
  position: relative;
  height: auto;
  overflow: hidden; }

.blocks__square-2x {
  width: 66.666666%;
  height: auto; }

.blocks__square-3x {
  width: 100%;
  height: auto; }

.blocks__square2:before {
  padding-top: 100%; }

.square__overlay {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 100; }

.square__overlay:hover {
  width: 100%;
  background-color: transparent; }

.square__summary {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 90%;
  text-align: center;
  height: 23px;
  display: block;
  color: #fff; }

.square__title {
  background-color: #00b3ee;
  color: #fff;
  padding: 0.125rem 0.625rem;
  display: inline-block;
  font-weight: normal;
  font-size: 0.875rem;
  margin: 10px 10px 0 10px; }

.restaurant .square__title {
  background-color: #edad80; }

.relaxation .square__title {
  background-color: #bfb3da; }

.shop .square__title {
  background-color: #539adb; }

.clickBlock {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999; }

.item__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10; }

@media (max-width: 543px) {
  .blocks__square {
    width: 50%;
    position: relative;
    height: auto;
    overflow: hidden; }
  .blocks__square-2x {
    width: 50%;
    height: auto; }
  .square__title {
    font-size: 9px;
    padding: 1px 4px;
    line-height: 1.3; }
  .square__summary {
    font-size: 13px;
    line-height: 1.4; } }
