@charset "UTF-8";
/* CSS Document */

.footable {
}

.footable.breakpoint > tbody > tr > td.expand {
  background: url("../../img/activity/plus.png") no-repeat 5px center;
  padding-left:40px;
  background-size:25px auto;
}

.footable.breakpoint > tbody > tr.footable-detail-show > td.expand {
  background: url("../../img/activity/minus.png") no-repeat 5px center;
  background-size:25px auto;
}

.footable.breakpoint > tbody > tr.footable-row-detail {
  background: #fff;
}

.footable > tbody > tr:hover {
  background: transparent;
}

.footable.breakpoint > tbody > tr:hover:not(.footable-row-detail) {
  cursor: pointer;
}

.footable > tbody > tr > td, .footable > thead > tr > th {
  border-left: 1px solid #c3e1e4;
  border-top: 1px solid #c3e1e4;
  padding: 10px;
  text-align: left;
}

.footable > tbody > tr > td.footable-cell-detail {
  border-left: none;
}

.footable > thead > tr > th, .footable > thead > tr > td {
}

.footable > thead > tr:first-child > th.footable-first-column, .footable > thead > tr:first-child > td.footable-first-column {
}

.footable > thead > tr:first-child > th.footable-last-column, .footable > thead > tr:first-child > td.footable-last-column {
}

.footable > thead > tr:first-child > th.footable-first-column.footable-last-column, .footable > thead > tr:first-child > td.footable-first-column.footable-last-column {
}

.footable > tbody > tr:last-child > td.footable-first-column {
}

.footable > tbody > tr:last-child > td.footable-last-column {
}

.footable > tbody > tr:last-child > td.footable-first-column.footable-last-column {
}

.footable > thead > tr > th.footable-first-column, .footable > thead > tr > td.footable-first-column,
.footable > tbody > tr > td.footable-first-column {
  border-left: none;
}

.footable > tbody img {
  vertical-align:middle;
}

.footable > tfoot > tr > th, .footable > tfoot > tr > td {
  background-color: #dce9f9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
  background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: linear-gradient(to bottom, #ebf3fc, #dce9f9);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  border-top: 1px solid #ccc;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  padding: 10px;
}

.footable .time{
	text-align:center;
	}
.footable-toggle{
	display:block;
	width:100%;
	background:#f00;
	}