/* CSS Information ===============================
File name:about_us/floormap.css
Date: 2015.12
Contents: *floormap(pageOnlyStyle)
================================================ */
/*================
floormap
=================*/
h2{
	font-size:1.125rem;/*18px*/
	padding:0.625rem 1.5625rem;/*10px,25px*/
	background:#f3f3f3;
	}
.map{
	width:100%;
	text-align:center;
	margin-bottom:3.125rem;/*50px*/
	}
.map img{
	width:100%;
	max-width:41.875rem;/*670px*/
	}
/*================
Responsive
=================*/
@media (max-width: 1199px){
    }
@media (max-width: 991px){
    }
@media (max-width: 768px){
    }
@media (max-width: 543px){
    }

